body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(31, 31, 31, 0.8) 0%, #23282B 52.5%);
    font-family: 'Inter', sans-serif;
  }

* {
    font-family: 'Inter', sans-serif;
}
